section{
    padding: 50px;
    min-height: 100vh;
}

section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

section .container .title {
    padding: 15px;
}

section .container .content{
    padding: 15px;
}

section .container .button{
    padding: 15px;
    position: absolute;
    left: 43%;
}

section .container .title input{
    border-radius: 5px;
    border: none;
    width: 260px;
    height: 40px;
}

section .container .content textarea{
    border-radius: 5px;
    border: none;
}

section .container .button button{
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 40px;
}

section .container .button button:hover{
    background-color: bisque;
    cursor: pointer;
}