/* start - global - rules */

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* start - media */


/* small */


@media (min-width : 768px) {
    .container{
        width: 750px;
    }
}


/* medium */

@media (min-width : 992px){
    .container{
        width: 970px;
    }
}


/* large */

@media (min-width : 1200px){
    .container{
        width: 1170px;
    }
}

/* end - media */

/* end - global - rules */


/* start - header */

nav{
    padding: 15px;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .links{
    position: relative;
}

nav .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
}

nav .links .icon span{
    background-color: white;
    margin-bottom: 5px;
    height: 3px;
    width: 100%;
}

nav .links ul{
    list-style: none;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    background-color: white;
    display: none;
    z-index: 100;
}

nav .links ul ::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white  transparent;
    position: absolute;
    top: -19px;
    right: 5px;
}

nav .links ul li a{
    display: block;
    text-decoration: none;
    color: bisque;
    padding: 15px;
    transition:  0.3s;
}

nav .links ul li a:hover{
    padding-left: 25px;
}



/* end - header */

/* start - scroll up */
.up{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 4px;
    
}

/* end - scroll up */

/* start - landing */

section .container{
    text-align: center;
    background-image: url(../img/hands.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    position: relative;
}

section .container .intro{
    position: absolute;
    left: 50% ;
    top: 50%;
    transform: translate(-50%,-50%) ;
    width: 320px;
    max-width: 100%;
}

section .container h1{
    color: aquamarine;
    font-size: 50px;
}

section .container p{
    color: white;
    font-size: 25px;
}

/* end - landing */


/* start - article */
article{
    padding-top: 50px;
    padding-bottom: 50px;
}
article .container h1{
    color: bisque;
    font-size: 50px;
    text-align: center;
}

article .container p{
    color: white;
    font-size: 25px;
}
/* end - article */


/* start - services */
.services{
    padding-top: 50px;
    padding-bottom: 50px;
}

.services .container .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    grid-gap: 20px;

}

.services .container .card-container .card{
    background-color: white;
    border-radius: 10px;
}

.services .container .card-container .card h5{
    text-align: center;
}

.services .container  .card-container .card p{
    color: black;
    text-align: center;
    font-size: 15px;
}

.services .container .card-container .card .button-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.services .container .card-container .card button{
    background-color: green;
    border-radius: 5px;
    margin-bottom: 15px;
}
/* end - services */

/* start - footer */
footer .footer_ul{
    display:flex;
    justify-content: center;
    list-style: none;
    
}
footer .footer_ul li{
    padding: 15px;
}
footer .footer_ul li i{
    font-size: 25px;
    color: black;
}

footer .container h2{
    text-align: center;
    padding: 15px;
    padding-left: 50px;
}

footer .container h3{
    text-align: center;
    padding: 15px;
    padding-left: 50px;
}
.normal-bar {
    display: none;
}
.normal-bar a {
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: white;
    border-radius: 7px;
    border: solid black 1px;
}
@media (min-width: 992px) {
    .drop-down{
        display: none;
    }
    .normal-bar{
        display: block;
    }
}
/* end - footer */
