
/* start - landing */

section:first-of-type .intro_container{
    text-align: center;
    background-image: url(../img/hands.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 90px);
    position: relative;
}

section:first-of-type .intro_container .intro{
    position: absolute;
    left: 50% ;
    top: 50%;
    transform: translate(-50%,-50%) ;
    width: 320px;
    max-width: 100%;
}

section:first-of-type .intro_container h1{
    color: aquamarine;
    font-size: 50px;
}

section:first-of-type .intro_container p{
    color: white;
    font-size: 25px;
}

/* end - landing */


/* start - article */
article{
    padding-top: 50px;
    padding-bottom: 50px;
}
article .container h1{
    color: bisque;
    font-size: 50px;
    text-align: center;
}

article .container p{
    color: white;
    font-size: 25px;
    line-height: 1.5;
}

@media (max-width:776px) {
    article .container p{
        font-size: 20px;
        text-align: center;
    }
}
/* end - article */


/* start - services */
.services{
    padding-top: 50px;
    padding-bottom: 50px;
}

.services .container .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    grid-gap: 20px;

}

.services .container .check h1{
    text-align: center;
    padding-bottom: 50px;

}

.services .container .card-container .card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(1 1 1 /15%);
    transition: 0.5s;
}

.services .container .card-container .card:hover{
    transform: scale(1.1);
}

.services .container .card-container .card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.services .container .card-container .card h5{
    text-align: center;
}

.services .container  .card-container .card p{
    color: black;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
}

.services .container .card-container .card .button-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.services .container .card-container .card button{
    background-color: aquamarine;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100px;
    height: 40px;
    border: none;

}

.services .container .card-container .card button:hover{
    background-color: bisque;
    cursor: pointer;
}
/* end - services */

/* start - contact */
section:last-of-type{
    padding-top: 50px ;
    padding-bottom: 50px;
}

section:last-of-type .container .contact{
    text-align: center;
    padding-bottom: 50px;
}

section:last-of-type .container .contact_form{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(1 1 1 /15%);
}

section:last-of-type .container .contact_form input{
    border: none;
    border-radius: 5px;
    height: 50px;
    margin-left: 100px;
    background-color: aquamarine;
    margin-top:20px;
}

section:last-of-type .container .contact_form textarea{
    border: none;
    border-radius: 10px;
    width: 500px;
    height: 200px;
    background-color: aquamarine;

}

@media (max-width:600px){
    section:last-of-type .container .contact_form input{
        margin-left: 0px;
        width: 300px;
    }
    section:last-of-type .container .contact_form textarea{
        width: 300px;
    }
}

@media(min-width:601px){
    section:last-of-type .container .contact_form button{
        margin-left: 100px;
    }
}

section:last-of-type .container .contact_form button{
    border: none;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
}

section:last-of-type .container .contact_form button:hover{
    cursor: pointer;
    background-color: bisque;
}

/* end - contact */


