:root{
    --main-color : aquamarine;
    --sec-color : bisque;
}

section{
    padding: 50px;
    min-height: 100vh;
}

section .container .square .half2{
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(1 1 1 /15%);
}
section .container .square .half2 input{
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: var(--main-color);
}
section .container .square .half2 button{
    padding-left:  10px;
    padding-right: 10px;
    width: 75px;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 40px;
    margin-top: 10px;
}

@media (max-width: 600px) {
    input{
        width: 70%;
    }
}

section .container .square .half2 button:hover{
    cursor: pointer;
    background-color: var(--main-color);

}

section .container .square .half2 span{
    color: var(--main-color);
}