/* start - global - rules */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root{
    --main-color : aquamarine;
    --sec-color : bisque;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins' , sans-serif;
}

a{
    text-decoration: none;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* start - media */


/* small */


@media (min-width : 768px) {
    .container{
        width: 750px;
    }
}


/* medium */

@media (min-width : 992px){
    .container{
        width: 970px;
    }
}


/* large */

@media (min-width : 1200px){
    .container{
        width: 1170px;
    }
}

/* end - media */

/* end - global - rules */


/* start - header */

nav{
    padding: 15px;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .links{
    position: relative;
}

nav .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
}

nav .links .icon span{
    background-color: white;
    margin-bottom: 5px;
    height: 3px;
    width: 100%;
}

nav .links ul{
    list-style: none;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    background-color: white;
    display: none;
    z-index: 100;
}

nav .links ul ::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white  transparent;
    position: absolute;
    top: -19px;
    right: 5px;
}

nav .links ul li a{
    display: block;
    text-decoration: none;
    color: var(--sec-color);
    padding: 15px;
    transition:  0.3s;
}

nav .links ul li a:hover{
    padding-left: 25px;
}

.normal-bar {
    display: none;
}
.normal-bar a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 7px;
}

.normal-bar a:hover{
    background-color: var(--main-color);
}
@media (min-width: 992px) {
    .drop-down{
        display: none;
    }
    .normal-bar{
        display: block;
    }
}


/* end - header */

/* start - scroll up */
.up{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: none;
    display: none;
    z-index: 1000;
    
}

/* end - scroll up */

/* start - footer */

footer{
    background-color: var(--sec-color);
}

footer .footer_ul{
    display:flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}
footer .footer_ul li{
    padding: 15px;
}
footer .footer_ul li i{
    font-size: 40px;
    color: black;
    text-align: center;
}

footer .footer_container h2{
    text-align: center;
    padding: 15px;
    padding-left: 50px;
}

footer .footer_container h3{
    font-size: 20px;
    text-align: center;
    padding: 15px;
    padding-left: 50px;
    margin: 0;
}

/* end - footer */