section{
    padding: 50px;
    min-height: 100vh;
}

section .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container .form_container {
    position: relative;
}

section .container .form_container select{
    border: none;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    height: 50px;
}

section .container .form_container button{
    border: none;
    border-radius: 5px;
    position: absolute;
    margin-left: 48px;
    width: 100px;
    height: 40px;
}

section .container .form_container button:hover{
    background-color: bisque;
    cursor: pointer;
}

