<a href="/" class="logo">
    <picture>
        <source media="(max-width: 576px)" srcset="/resources/img/logo-72x72.png">
        <source media="(max-width: 768px)" srcset="/resources/img/logo-96x96.png">
        <source media="(max-width: 992px)" srcset="/resources/img/logo-128x128.png">
        <source media="(max-width: 1200px)" srcset="/resources/img/logo-144x144.png">
        <source media="(max-width: 1400px)" srcset="/resources/img/logo-152x152.png">
        <img src="/app/resources/img/logo-removebg-preview.png" width="75px" height="50px" alt="logo">
    </picture>
</a>