<!-- start footer -->
<footer>
    <div class="container">
        <div class="text">
            <h2>First Step</h2>
            <h5>You Deserve To Be Happy</h5>
            <ul class="footer_ul">
                <li><a href="https://www.linkedin.com/in/ahmad-istaitieh-64a635248/" aria-label="linkedin"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100002178974914" aria-label="facebook"><i class=" fa-brands fa-facebook"></i></a></li>
                <li><a href="https://github.com/ahmadadnanes" aria-label="github"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </div>
        <div class="browse">
            <h3>Browse</h3>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/diary">Diary</a>
                </li>
                <li>
                    <a href="/psy">Recomended Psychologist</a>
                </li>
                <li>
                    <a href="/depression">Depression Test</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!-- end footer -->