@use '../helpers/vars' as *;
@use '../helpers/mixins' as *;
nav{
    padding: 15px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .user{
            order: -1;
            @media ($laptop) {
                order: +1;
            }
            i{
                font-size: 25px;
                color: black;
            }
        }
        .links{
            position: relative;
            .icon{
                width: 30px;
                display: flex;
                flex-wrap: wrap;
                span{
                    background-color: $backGround;
                    margin-bottom: 5px;
                    height: 3px;
                    width: 100%;
                }
            }
            ul{
                list-style: none;
                position: absolute;
                right: 0;
                min-width: 200px;
                top: calc(100% + 15px);
                background-color: #eee;
                display: none;
                z-index: 100;
                &::before{
                    content: "";
                    border-width: 10px;
                    border-style: solid;
                    border-color: transparent transparent #eee  transparent;
                    position: absolute;
                    top: -19px;
                    right: 5px;
                }
                li{
                    a{
                        display: block;
                        text-decoration: none;
                        color: var(--sec-color);
                        padding: 15px;
                        transition:  0.3s;
                        &:hover{
                            padding-left: 25px;
                        }
                    }
                }
            }
        }
    }
}

.normal-bar{
    display: none;
    @media ($tablet) {
        display: block;
    }
    a{
        text-decoration: none;
        color: black;
        padding: 10px;
        border-radius: 7px;
        &:hover{
            background-color: $main;
        }
    }
}

.drop-down{
    @media ($tablet) {
        display: none;
    }
}