@use "../helpers/mixins" as *;
@use "../helpers/vars" as *;

.admin{
    min-height: 100vh;
    display: flex;
    .content{
        flex-grow: 1;
        position: relative;
        .password-form{
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color: #eee;
            width: 500px;
            height: 270px;
            border-radius: 5px;
            h1{
                margin-bottom: 20px;
            }
            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                input{
                    margin-bottom: 10px;
                    border-radius: 5px;
                    border: none;
                    width: 260px;
                    height: 40px;
                }
                button{
                    width: 100px;
                    height: 40px;
                    background-color: white !important;
                }
            }
        }
    }
}