.dep{
    #htr{
        text-align: center;
    }

    .paragraph{
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
    }

    #dep{
        text-align: center;
    }

    .question{
        opacity: 0;
        transform: translateX(100%);
        transition: opacity 0.5s, transform 0.5s;
        &.active{
            opacity: 1;
            transform: translateX(0);
        }
    }

    .choices{
        margin-top: 10px;
        label{
            display: block;
            margin-bottom: 5px;
        }
    }

    .result{
        display: none;
    }

    #the_questions{
        font-weight: bolder;
        font-size:30px;
        margin-bottom: 40px;
    }
    
    #answer{
        font-size:23px;
    }
    
    #Next_btn , #Submit_btn{
        padding:7px 100px;
        margin-top:40px;
        border-radius: 20px;
        background-color:#9BD58B;
        color:#003134;
        font-size:20px;
        border: none;
        &:hover{
            background-color: #4B7B3F;
            color: #ffffff;
        }
        @media (max-width:600px) {
            width: 80%;
        }
    }
}