@use "../helpers/mixins" as *;
@use "../helpers/vars" as *;

.dep{
    #htr{
        text-align: center;
    }

    .paragraph{
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
    }

    #dep{
        text-align: center;
    }

    .question{
        opacity: 0;
        transform: translateX(100%);
        transition: opacity 0.5s, transform 0.5s;
        &.active{
            opacity: 1;
            transform: translateX(0);
        }
    }

    .choices{
        margin-top: 10px;
        label{
            display: block;
            margin-bottom: 5px;
        }
    }

    .result{
        display: none;
    }

    #the_questions{
        font-weight: bolder;
        font-size:30px;
        margin-bottom: 40px;
    }
    
    #answer{
        font-size:23px;
    }
    
    #Next_btn , #Submit_btn , .pop-btn{
        width: 300px;
        height: 50px;
        margin-top:10px;
        margin-bottom: 10px;
        font-size:20px;
        @media ($phone-max) {
            width: 80%;
        }
    }
}