@use '../helpers/vars' as *;
@use '../helpers/mixins' as *;

.diary{
    background-image: url('/app/resources/img/sharp-colored-pencil-min.jpg');
    background-size: cover;
    @media ($phone-max) {
        background-image: url('/app/resources/img/sharp-colored-pencil-small-min.jpg');
    }
    @media ($tablet-max) {
        background-image: url('/app/resources/img/sharp-colored-pencil-medium-min.jpg');
    }
    @media ($laptop-max) {
        background-image: url('/app/resources/img/sharp-colored-pencil-large-min.jpg');
    }
    section{
        padding: 50px;
        min-height: 80vh;
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            form{
                background-color: white;
                box-shadow: 0px 5px 15px rgba(1 1 1 /15%);
                border-radius: 10px;
                .title{
                    padding: 15px;
                    input{
                        border-radius: 5px;
                        border: none;
                        width: 260px;
                        height: 40px;
                        margin-left: 100px;
                        background-color: $main;
                        @media ($phone-max)  {
                            margin-left: 0px;
                            width: 300px;
                        }
                    }
                }
                .content{
                    padding: 15px;
                    textarea{
                        border-radius: 5px;
                        border: none;
                        width: 500px;
                        height: 200px;
                        background-color: $main;
                        @media ($phone-max)  {
                            width: 300px;
                        }
                    }
                }
                .button{
                    padding: 15px;
                    margin-left: 200px;
                    @media ($phone-max) {
                        margin-left: 100px;
                    }
                    button{
                        width: 100px;
                        height: 40px;
                    }
                }
                .private{
                    padding-left: 20px;
                }
            }
        }
    }
    .social{
        h2{
            text-align: center;
            padding-bottom: 50px;
        }
    }
}
