.errorPage{
    background-image: url('/app/resources/img/mouse_keyboard-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    .text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 600px;
        @media (max-width: 600px) {
            width: 300px;
            h1{
                font-size: 24px;
            }
        }
        a{
            color: bisque;
        }
    }
}