@use '../helpers/vars' as *;
@use '../helpers/mixins' as *;
/* start - footer */

footer{
    padding-top: 50px;
    .container{
        border-top: 5px solid $paragraph_color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .text{
            h2{
                padding: 10px;
                margin: 0;
            }
            @media (max-width: 600px) {
                margin-bottom: 10px;
            }
        }
        .browse{
            h3{
                margin-top: 10px;
            }
            li{
                padding-bottom: 10px;
            }
        }
        ul{
            padding: 0;
        }
        .footer_ul{
            display:flex;
            @media (max-width: 600px) {
                padding-top: 10px;
                justify-content: center;
            }
            li{
                padding-inline: 10px;
                i{
                    font-size: 40px;
                    // text-align: center;
                }
            }
        }
        @media (max-width: 600px) {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
}

/* end - footer */