@use '../helpers/vars' as *;
.sidebar{
    background-color: $links-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        @media ($phone-max) {
            width: 60px;
        }

    }
    div{
        padding-bottom: 15px;
        i{
            font-size: 25px;
            &:hover{
                cursor: pointer;
            }
            @media ($phone-max) {
                font-size: 20px;
            }
        }
    }
}