<!-- start footer -->
<footer>
    <div class="container">
        <div class="text">
            <h2>الخطوة الأولى</h2>
            <h5>انت تستحق انت تكون سعيدا</h5>
            <ul class="footer_ul">
                <li><a href="https://www.linkedin.com/in/ahmad-istaitieh-64a635248/" aria-label="linkedin"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100002178974914" aria-label="facebook"><i class=" fa-brands fa-facebook"></i></a></li>
                <li><a href="https://github.com/ahmadadnanes" aria-label="github"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </div>
        <div class="browse">
            <h3>تصفح</h3>
            <ul>
                <li>
                    <a href="/ar">الصفحة الرئيسية</a>
                </li>
                <li>
                    <a href="/diary/ar">المذكرة</a>
                </li>
                <li>
                    <a href="/psy/ar">الأطباء النفسيين الموصى بهم</a>
                </li>
                <li>
                    <a href="/depression/ar">اختبار الإكتئاب</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!-- end footer -->