body{
    background-image: url(/app/resources/img/mouse_keyboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 97.8vh;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
}

@media (max-width:600px) {
    .text{
        width: 350px;
    }
}

.text a{
    color: bisque;
}