@use '../helpers/vars' as *;
@use '../helpers/mixins' as *;
button:not(.x){
    border: none;
    border-radius: 5px;
    background-color: $main !important;
    &:hover{
        background-color: $second !important;
        cursor: pointer;
    }
}