@use "../helpers/vars" as *;
@use "../helpers/mixins" as *;
.diaries{
    padding-block: 50px;
}

.diary_container{
    margin-bottom: 15px;
    border-radius: 10px;
    position: relative;
    background-color: white ;
    box-shadow: 0px 5px 15px rgba(1 1 1 / 15%);
    transition: 0.5s;
    .title{
        text-align: center;
        padding-top: 10px;
    }
    .content{
        padding: 15px;
        @media ($phone-max) {
            font-size: 14px;
        }
    }
    .author{
        position: absolute;
        right: 0;
        bottom: 0;
        padding-right: 15px;
        @media ($phone-max) {
            font-size: 14px;
        }
    }
    &:hover{
        transform: scale(1.1);
    }
}