@use '../helpers/vars' as *;
.password{
    position: relative;
    width: fit-content;
    margin-right: 3px;
    .show , .hide{
        position: absolute;

        [dir=rtl] & {
            left: 0;
            margin-left: 10px;
        }
        [dir=ltr] & {
            right: 0;
            margin-right: 10px;
        }
        margin-top: 10px;
    }
}